<html>
<head>
<title>precision</title>


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<style>


.navbar {
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  z-index:2;
}



.navbar a:hover {
  background: DodgerBlue;
  color:#ffffff;
}
body  {
  background-image: url("static/img/bg.jpg");
  background-color: #cccccc;
  color:#ffffff;
}

.navbar a{

  border: 0px solid DodgerBlue;
  border-radius: 25px;
  margin:3px;
}

#logo{
  border: 0.5px solid DodgerBlue;
  border-radius: 25px;
background-color:DodgerBlue;
padding:3px;

}
#logo:hover{
  border: 0.5px solid DodgerBlue;
  border-radius: 25px;
}
</style>





</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
  <div class="container-fluid">
    <div id="logo">



      <img src="static/img/image.png" alt="logo" style="width:40px;">

        <b>Twitter Sentiments Analysis</b>
        </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
      <a class="nav-link" href="{{ url_for('index') }}"><h6>Home</h6></a>
    </li>
         <li class="nav-item active">
      <a class="nav-link" href="{{ url_for('confusion') }}"><h6>Matrix</h6></a>
    </li>




<h6>
         <li class="nav-item dropdown active my">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Models
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{ url_for('recalling') }}" >Recall</a>
         <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{{ url_for('precisioning') }}">Precision</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{{ url_for('models') }}">Accuracy</a>
        </div>
      </li>

</h6>



    <li class="nav-item active">
      <a class="nav-link" href="{{ url_for('traits') }}"><h6>PersonalityTraits</h6></a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="{{ url_for('predict') }}"><h6>PredictInput</h6></a>
    </li>

      </ul>
    </div>
  </div>
</nav>


<div class="mt-5"></div>
<div class="container pt-3">

  <!-- Portfolio Item Heading -->
  <h1 class="my-4 text-center">Precision of applied Models
  </h1>

  <!-- Portfolio Item Row -->
  <div class="row pt-4">

    <div class="col-md-6">
      <img class="img-fluid" src="static/accuracies/precision.png" alt="">
    </div>

    <div class="col-md-1">
    </div>
    <div class="col-md-5">
{% block content %}
      <h3 style="color:black">
        <ul class="list-group">
        <li class="list-group-item active">Applied Models</li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            DT
            <span class="badge badge-primary badge-pill">{{LST[0]}}%</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            RF
            <span class="badge badge-primary badge-pill">{{LST[1]}}%</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            NB
            <span class="badge badge-primary badge-pill">{{LST[2]}}%</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
          LR
          <span class="badge badge-primary badge-pill">{{LST[3]}}%</span>
        </li><li class="list-group-item d-flex justify-content-between align-items-center">
          SVM
          <span class="badge badge-primary badge-pill">{{LST[4]}}%</span>
        </li><li class="list-group-item d-flex justify-content-between align-items-center">
          LSTM
          <span class="badge badge-primary badge-pill">{{LST[5]}}%</span>
        </li>


</ul>

        </h3>


        {% endblock content %}
    </div>
  </div>
</div>




</body>
</html>